.navigation ul
{
	padding-left: 0;
}

.navigation .navigation-item
{
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 25px;
	height: 60px;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.navigation .current
{
	text-decoration: underline;
}